.special-card-title{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 118px;
    line-height: 100%;
    letter-spacing: -0.05em;
    margin-left: -11px;


    color: #1C1D1F;
}

.special-card-subtitle{
    width: 72%;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    margin: 20px 0;

    color: #1C1D1F;
}

.back{
    width: 100%;
    height: 80% ;
}