.frame{
    padding: 9px 12px;
    background: #E3E3E3;
    border-radius: 7px;
    width: auto;

    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #1C1D1F;
}