.background{
    background: #1C1D1F;
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
    gap: 10px;
    margin: 0;
    height: 58px;
}

.service{
    color: #5707FF;
    font-family: 'Sora' , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    margin: 0;
}

.sub-title{
    margin: 13px 0 53px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.scroll-text{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3px;
    color: #1C1D1F;

}

.scroll-div{
    display: flex;
    gap: 8px;
    margin-top: 20vh;
}

.we-are{
    margin: 10% 0;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    letter-spacing: -0.05em;
    color: #FCFCFF;
}

.col-3{
    width: 26%;
}

.around-3d-image{
    width: 179px;
    height: 179px;
    background: rgba(252, 252, 255, 0.1);
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-image{
    margin-top: 17px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FCFCFF;
}

.text-image{
    width: 292px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FCFCFF;
    line-height: 100%;
}

.gap{
    width: 100%;
    display: flex;
    gap: 11%;
}

/*OUR TEAM*/

.divContainer{
    max-width: 850px;
    overflow-x: scroll;
    margin: auto;
    margin-top: 30px;
}

.divContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.items{
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
    scrollbar-width: none;
}

.items * > *{
    margin-left: 20px;
}

.item{
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 250px !important;
    margin-left: 20px;
}