.card-resize{
    min-height: 100vh;
    width: 100%;
    padding: 15vh 0;
}

.content{
    position: sticky;
    top: 20%;
}

.sub-title-do{
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    margin: 20px 0;

    color: #1C1D1F;
}

.wrap-box{
    display: flex;
    width: 99%;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.padding-20{
    margin: 25vh ;
}